@import url("https://fonts.googleapis.com/css?family=Lobster|Montserrat:500,600&display=swap");
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Lobster", sans-serif;
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(to top, #6a85b6 0%, #bac8e0 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.appWrapper {
  height: 600px;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 600px 1fr;
}
.board {
  display: grid;
  border: 5px solid black;
  grid-template-columns: repeat(8, 1fr);
  grid-row: auto;
  position: relative;
  z-index: 5;
  font-size: 0;
}
.square {
  cursor: pointer;
  position: relative;
  font-weight: bold;
  background-color: #d6d3b4;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-size: 70%;
  z-index: -1;
}
.player1 {
  &.king {
    background-image: url("./assets/icons/king-black.svg");
  }
  &.queen {
    background-image: url("./assets/icons/queen-black.svg");
  }
  &.rook {
    background-image: url("./assets/icons/rook-black.svg");
  }
  &.bishop {
    background-image: url("./assets/icons/bishop-black.svg");
  }
  &.knight {
    background-image: url("./assets/icons/knight-black.svg");
  }
  &.pawn {
    background-image: url("./assets/icons/pawn-black.svg");
  }
}
.player2 {
  &.king {
    background-image: url("./assets/icons/king-white.svg");
  }
  &.queen {
    background-image: url("./assets/icons/queen-white.svg");
  }
  &.rook {
    background-image: url("./assets/icons/rook-white.svg");
  }
  &.bishop {
    background-image: url("./assets/icons/bishop-white.svg");
  }
  &.knight {
    background-image: url("./assets/icons/knight-white.svg");
  }
  &.pawn {
    background-image: url("./assets/icons/pawn-white.svg");
  }
}
.posibbilityMove {
  background-color: #cdd26a !important;
  opacity: 1;
}
.clicked {
  background-color: #aaa23a !important;
}
.lighter {
  background-color: #f0d9b5;
}
.darker {
  background-color: #b58863;
}
.heading {
  position: fixed;
  left: 50%;
  top: 10px;
  transform: translateX(-50%);
  font-size: 24px;
}
.player1Board,
.player2Board {
  // justify-self: center;
  font-size: 14px;
  .playerBoard {
    display: flex;
    flex-direction: column;
    align-items: center;
    h1 {
      margin-bottom: 50px;
    }
  }
}
.player2Board {
  color: #fff;
}

.beatenPawnArray {
  display: grid;
  padding: 20px;
  grid-gap: 20px;
  grid-template-columns: repeat(4, 1fr);
  .beatenPawn {
    width: 50px;
    height: 50px;
  }
}
