*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #b9cced;
  // filter: invert(1);
}
.board {
  display: grid;
  //   width: 90vw;
  //   height: 90vh;
  border: 5px solid white;
  grid-template-columns: repeat(8, 1fr);
  grid-row: auto;
  position: relative;
  z-index: 5;
  font-size: 0;
}
.square {
  width: 75px;
  height: 75px;
  border: 1px solid #b9cced;
  cursor: pointer;
  position: relative;
  font-weight: bold;
  background-color: #d6d3b4;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-size: 70%;
  z-index: -1;
}
.player1 {
  &.king {
    background-image: url("./assets/icons/king-black.svg");
  }
  &.queen {
    background-image: url("./assets/icons/queen-black.svg");
  }
  &.rook {
    background-image: url("./assets/icons/rook-black.svg");
  }
  &.bishop {
    background-image: url("./assets/icons/bishop-black.svg");
  }
  &.knight {
    background-image: url("./assets/icons/knight-black.svg");
  }
  &.pawn {
    background-image: url("./assets/icons/pawn-black.svg");
  }
}
.player2 {
  &.king {
    background-image: url("./assets/icons/king-white.svg");
  }
  &.queen {
    background-image: url("./assets/icons/queen-white.svg");
  }
  &.rook {
    background-image: url("./assets/icons/rook-white.svg");
  }
  &.bishop {
    background-image: url("./assets/icons/bishop-white.svg");
  }
  &.knight {
    background-image: url("./assets/icons/knight-white.svg");
  }
  &.pawn {
    background-image: url("./assets/icons/pawn-white.svg");
  }
}
.posibbilityMove {
  position: relative;
  // filter: invert(1);
  background-color: #b9cced;
  @keyframes helpBounce {
    0% {
      opacity: 0.5;
    }
    100% {
      opacity: 0.8;
    }
  }
  animation: helpBounce 1s ease-in-out infinite alternate;
}
.clicked {
  position: relative;
  &::after {
    content: "";
    // width: calc(100% - 2px);
    // height: calc(100% - 2px);
    width: 100%;
    height: 100%;
    position: absolute;
    border: 2px dashed #b9cced;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.lighter {
  background-color: #c9753d;
}
.darker {
  background-color: #eb8242;
}
